type project
owners
    Robin Neatherway
authors 
    Robin Neatherway
projectUrl
    http://github.com/rneatherway/ReleaseTestRepo
iconUrl
    https://raw.githubusercontent.com/rneatherway/ReleaseTestRepo/master/docs/files/img/logo.png
licenseUrl
    http://github.com/rneatherway/ReleaseTestRepo/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    test
summary
    Just a repo to test releasing
description
    nothing of interest


